<div id="landing_page">
	<div class="row">
		<div id="options" class="bubble col-lg-6 col-lg-offset-2">
			<h3>What would you like to do?</h3>
			<button type="button" class="btn btn-lg btn-primary" method="GET" href="/cars/new">Add a Car</button>
			<button type="button" method="GET" class="btn btn-lg btn-primary" href="/cars">Find a Car</button>
		</div>
	</div>
</div>