<div id="landing_page">
	<div class="row">
		<div id="options" class="bubble col-lg-6 col-lg-offset-2">
			<h3>What would you like to do?</h3>
			<a href="/cars/new" class="btn btn-lg btn-primary">Add a Car</a>
			<a href="/cars" class="btn btn-lg btn-primary">Find a Car</a>
		</div>
	</div>
</div>