
<div id="options" class="row bubble">
		<h3>What would you like to do?</h3>
			<a href="/cars/new" class="btn btn-lg btn-primary">Add a Car</a>
			<a href="/cars" class="btn btn-lg btn-primary">Find a Car</a>
			<a href="/users/new" class="btn btn-lg btn-primary">Sign Up</a>
</div>
