/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .

 */
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

html {
	font-family: "Fauna One";
}
.explanation {
	font-size: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Fauna One";
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.bubble {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
	margin: 0 auto;
	background-color: black;
	color: white;
}
.indent {
	text-indent: 20px;
}
#top_bar {
	box-shadow: 5px 5px 10px black;
	height: 55px;
	background-color: black;
	text-align: right;
}
#options {
	width: 500px;
}
nav li {
	position: relative;
	top: 10px;
	display: inline;
}
nav li a {
	font-size: 20px;
	color: white;
	margin: 10px;
}
nav li a:hover {
	text-decoration: none;
}




