#new_user_form {
	padding: 20px;
	margin: 0 auto;
	background-color: black;
	color: white;
	width: 700px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
}
#show_users {
	background-color: lightgrey;
	padding: 50px;
}