<!DOCTYPE html>
<html>
<head>
  <title>CLender</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
		<!-- navigation -->
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Log In</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</nav>
	</div>

	<%= yield %>

</body>
</html>
