<!DOCTYPE html>
<html>
<head>

  <title>CLender</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
		<!-- navigation -->
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/login">Log In</a></li>
				<li><a href="/users/new">Sign Up</a></li>
			</ul>
		</nav>
	</div>
	<br>
	<%= yield %>
	<br>
	<div id="footer">
		<p>&copy; 2013 Ethan G. Stiffelman Development. All rights Reserved.</p>
	</div>
</body>
</html>
