<!DOCTYPE html>
<html>
<head>

  <title>cLender</title>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
		<!-- navigation -->
		<h2 class="pull-left logo">cLender</h2>
		<nav>
			<ul class="pull-right">
				<li><a href="/">Home</a></li>
				<li><a href="#">Log In</a></li>
				<li><a href="/users/new">Sign Up</a></li>
			</ul>
		</nav>
	</div>

	<%= yield %>

	<div id="footer">
		<p>&copy; 2013 Ethan G. Stiffelman Development. All rights Reserved.</p>
	</div>
</body>
</html>
